<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<div class="content-right">
		<div class="content">
			<div class="am-g">
				<!-- content start -->
				<div class="am-u-md-3">
					<div class="card-box">
						<h4 class="header-title m-t-0 m-b-30">总收入</h4>
						<div class="widget-chart-1 am-cf">
                            <div id="widget-chart-box-1" style="height: 110px;width: 110px;float: left;">
                            </div>

                            <div class="widget-detail-1" style="float: right;">
                                <h2 class="p-t-10 m-b-0"> 256 </h2>
                                <p class="text-muted">今日收入</p>
                            </div>
                        </div>
					</div>
				</div>
				<!-- col end -->
				<div class="am-u-md-3">
					<div class="card-box">
						<h4 class="header-title m-t-0 m-b-30">销售分析</h4>
						<div class="widget-box-2">
                            <div class="widget-detail-2">
                                <span class="badge  pull-left m-t-20  am-round" style="color: #fff; background: #0e90d2;">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                <h2 class="m-b-0"> 8451 </h2>
                                <p class="text-muted m-b-25">Revenue today</p>
                            </div>
                            <div class="am-progress am-progress-xs am-margin-bottom-0">
							    <div class="am-progress-bar" style="width: 80%"></div>
							</div>
                        </div>
					</div>
				</div>
				<!-- col end -->
				<div class="am-u-md-3">
					<div class="card-box">
						<h4 class="header-title m-t-0 m-b-30">总收入</h4>
						<div class="widget-chart-1 am-cf">
                            <div id="widget-chart-box-2" style="height: 110px;width: 110px;float: left;">
                            </div>

                            <div class="widget-detail-1" style="float: right;">
                                <h2 class="p-t-10 m-b-0"> 256 </h2>
                                <p class="text-muted">今日收入</p>
                            </div>
                        </div>
					</div>
				</div>
				<!-- col end -->
				<div class="am-u-md-3">
					<div class="card-box">
						<h4 class="header-title m-t-0 m-b-30">销售分析</h4>
						<div class="widget-box-2">
                            <div class="widget-detail-2">
                                <span class="badge  pull-left m-t-20  am-round progress-bar-pink" style="color: #fff;">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                <h2 class="m-b-0"> 8451 </h2>
                                <p class="text-muted m-b-25">Revenue today</p>
                            </div>
                            <div class="am-progress am-progress-xs am-margin-bottom-0" style="background: rgba(255, 138, 204, 0.2);">
							    <div class="am-progress-bar progress-bar-pink" style="width: 80%"></div>
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->