<!-- header start -->
<include file="Public/Header" />
<!-- header end -->

<!-- content start -->
<div class="account-pages">
	<div class="wrapper-page">
		<div class="text-center">
            <a href="index.html" class="logo"><span>Admin<span>to</span></span></a>
        </div>
        
        <div class="m-t-40 card-box">
        	<div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
            </div>
            <div class="panel-body">
            	<form class="am-form">
            		<div class="am-g">
            			<div class="am-form-group">
					      <input type="email" class="am-radius"  placeholder="Username">
					    </div>
					
					    <div class="am-form-group form-horizontal m-t-20">
					      <input type="password" class="am-radius"  placeholder="Password">
					    </div>
					    
					    <div class="am-form-group ">
                           	<label style="font-weight: normal;color: #999;">
						        <input type="checkbox" class="remeber"> Remember me
						    </label>
                        </div>
                        
                        <div class="am-form-group ">
                        	<button type="button" class="am-btn am-btn-primary am-radius" style="width: 100%;height: 100%;">Log In</button>
                        </div>
                        
                        <div class="am-form-group ">
                        <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                        </div>
            		</div>

            	</form>
					
            </div>
        </div>
	</div>
</div>
<!-- content end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->