<!-- header start -->
<include file="Public/Header" />
<!-- header end -->

<!-- content start -->
<div class="account-pages">
	<div class="wrapper-page">
		<div class="text-center">
            <span class="logo fw-700">School<span>CMS</span></span>
        </div>
        
        <div class="m-t-40 card-box">
            <div class="panel-body">
            	<form class="am-form form-validation" action="{{:U('/Admin/Admin/Login')}}" method="POST" request-type="ajax-url" request-value="{{:U('/Admin/Index/Index')}}">
            		<div class="am-g">
            			<div class="am-form-group">
					      <input type="text" placeholder="用户名" name="username" pattern="^[A-Za-z0-9_]{6,18}$" data-validation-message="用户名格式 6~18 个字符（可以是字母数字下划线）" class="am-radius" required />
					    </div>
					    <div class="am-form-group form-horizontal m-t-20">
					      <input type="password" placeholder="登录密码" name="login_pwd" minlength="6" maxlength="18" data-validation-message="密码格式 6~18 个字符" class="am-radius" required />
					    </div>
                        <div class="am-form-group">
                        	<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example w100" data-am-loading="{loadingText:'登录中...'}">登录</button>
                        </div>
                        
                        <div class="am-form-group ">
                        <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> 忘记密码?</a>
                        </div>
            		</div>
            	</form>
            </div>
        </div>
	</div>
</div>
<!-- content end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->