<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<div class="content-right">
		<div class="content">
			<!-- form start -->
			<form class="am-form form-validation m-t-5 admin-save" action="{{:U('/Admin/Admin/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('/Admin/Admin/Index')}}">
				<legend>
					<span class="fs-16">管理员添加</span>
					<span class="fr fs-14 m-t-5 c-p am-icon-mail-reply"> 返回</span>
				</legend>
				<div class="am-form-group">
					<label for="doc-vld-name">用户名：</label>
					<input type="text" placeholder="{{:L('login_username_text')}}" name="username" pattern="{{:L('common_regex_username')}}" data-validation-message="{{:L('login_username_format')}}" class="am-radius" required />
				</div>
				<div class="am-form-group">
					<label for="doc-vld-name">登录密码：</label>
					<input type="password" placeholder="{{:L('login_login_pwd_text')}}" name="login_pwd" minlength="6" maxlength="18" data-validation-message="{{:L('login_login_pwd_format')}}" class="am-radius" required />
				</div>
				<div class="am-form-group">
					<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example w100" data-am-loading="{loadingText:'{{:L('login_button_loading_text')}}'}">{{:L('login_button_text')}}</button>
				</div>
			</form>
            <!-- form end -->
		</div>
	</div>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->