<!-- header start -->
<include file="Public/Header" />
<!-- header end -->

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<p class="fw-700 list-title">{{:L('os_view_title')}}</p>
		<dl class="dl-content">
			<dt>{{:L('ver_name')}}</dt>
			<dd>{{$data.ver}}<a href="{{:L('common_application_website')}}" target="_blank" class="m-l-10">{{:L('ver_to_view_name')}}</a></dd>

			<dt>{{:L('os_ver_name')}}</dt>
			<dd>{{$data.os_ver}}</dd>

			<dt>{{:L('php_ver_name')}}</dt>
			<dd>{{$data.php_ver}}</dd>

			<dt>{{:L('mysql_ver_name')}}</dt>
			<dd>{{$data.mysql_ver}}</dd>

			<dt>{{:L('server_ver_name')}}</dt>
			<dd>{{$data.server_ver}}</dd>

			<dt>{{:L('host_name')}}</dt>
			<dd>{{$data.host}}</dd>
		</dl>

		<p class="fw-700 list-title">{{:L('team_view_title')}}</p>
		<dl class="dl-content">
			<dt>{{:L('copyright_name')}}</dt>
			<dd>{{:L('common_application_name')}}</dd>

			<dt>{{:L('originator_name')}}</dt>
			<dd>Devil</dd>

			<dt>{{:L('research_name')}}</dt>
			<dd><a href="http://gong.gg/" target="_blank">Devil</a></dd>
		</dl>
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->