@media only screen and (min-width: 641px) {
	form select, form input { width: 18% !important; display: initial !important; }
	.form-keyword { width: 70% !important; }
}
@media only screen and (max-width: 641px) {
	form select, form input { width: 49% !important; display: initial !important; }
	.form-keyword { display: initial !important; }
	.form-keyword { width: 55% !important; }
}
.more-submit:hover { color: #F60; };