<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
	<div class="nav-header" <if condition="!empty($max_width_style)">style="{{$max_width_style}}"</if>>
		<!-- logo start -->
		<h1 class="am-topbar-brand">
			<a href="{{:__MY_URL__}}">
				<img src="{{$image_host}}{{:MyC('home_site_logo')}}" alt="{{:MyC('home_seo_site_title')}}" id="home_site_logo" />
			</a>
		</h1>
		<!-- logo end -->

		<!-- mobile nav button start -->
		<include file="Public/NavBar" />
		<!-- mobile nav button end -->

		<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
			<!-- nav start -->
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li <if condition="$nav_pid eq 0 and $nav_id eq 0">class="am-active"</if>>
					<a href="{{:__MY_URL__}}">{{:L('common_home_text')}}</a>
				</li>
				<foreach name="nav_header" key="k" item="v">
					<if condition="empty($v['item'])">
						<li class="<if condition="$nav_pid eq $v['id'] or $nav_id eq $v['id']">am-active</if>">
							<a href="{{$v.url}}" <if condition="$v['is_new_window_open'] eq 1">target="_blank"</if>>{{$v.name}}</a>
						</li>
					<else />
						<li class="am-dropdown <if condition="$nav_pid eq $v['id'] or $nav_id eq $v['id']">nav-active</if>" data-am-dropdown>
							<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								{{$v.name}}
								<span class="am-icon-caret-down"></span>
							</a>
							<ul class="am-dropdown-content">
								<foreach name="v.item" item="vs">
									<li <if condition="$nav_id eq $vs['id']">class="am-active"</if>><a href="{{$vs.url}}" <if condition="$vs['is_new_window_open'] eq 1">target="_blank"</if>>{{$vs.name}}</a></li>
								</foreach>
							</ul>
						</li>
					</if>
				</foreach>
			</ul>
			<!-- nav end -->

			<!-- search start -->
			<!-- <include file="Public/NavSearch" /> -->
			<!-- search end -->

			<!-- user start -->
			<include file="Public/UserNav" />
			<!-- user end -->
		</div>
	</div>
</header>