<div class="am-topbar-right">
	<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-radius"><span class="am-icon-user"></span> {{:L('common_login_text')}}</button>
	<button class="am-btn am-btn-success am-topbar-btn am-btn-sm am-radius"><span class="am-icon-pencil"></span> {{:L('common_reg_text')}}</button>
	<div class="am-dropdown user-header-nav" data-am-dropdown="{boundary: '.am-topbar'}">
		<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle am-radius" data-am-dropdown-toggle>{{:L('common_user_home_text')}} <span class="am-icon-caret-down"></span></button>
		<ul class="am-dropdown-content am-radius">
			<li><a href="#">我的学习</a></li>
			<li><a href="#">我的成绩</a></li>
			<li class="am-active"><a href="#">333333</a></li>
			<li><a href="#">666</a></li>
		</ul>
	</div>
</div>