<div class="am-topbar-right">
	<empty name="user">
		<if condition="MyC('home_user_login_state') eq 1">
			<a href="{{:U('Home/User/LoginInfo')}}" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-radius"><span class="am-icon-user"></span> {{:L('common_login_text')}}</a>
		</if>
		<if condition="in_array('sms', MyC('home_user_reg_state'))">
			<a href="{{:U('Home/User/RegInfo')}}" class="am-btn am-btn-success am-topbar-btn am-btn-sm am-radius"><span class="am-icon-pencil"></span> {{:L('common_reg_text')}}</a>
		<elseif condition="in_array('email', MyC('home_user_reg_state'))" />
			<a href="{{:U('Home/User/EmailRegInfo')}}" class="am-btn am-btn-success am-topbar-btn am-btn-sm am-radius"><span class="am-icon-pencil"></span> {{:L('common_reg_text')}}</a>
		</if>
	<else />
		<div class="am-dropdown user-header-nav" data-am-dropdown="{boundary: '.am-topbar'}">
			<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle am-radius" data-am-dropdown-toggle>{{:L('common_user_home_text')}} <span class="am-icon-caret-down"></span></button>
			<ul class="am-dropdown-content am-radius">
				<foreach name="user_nav_menu" item="v">
					<if condition="$v['is_show'] eq 1">
						<li>
							<a href="{{:U('Home/'.$v['control'].'/'.$v['action'])}}">{{$v.name}}</a>
						</li>
					</if>
				</foreach>
			</ul>
		</div>
	</empty>
</div>