<!-- commom delete html start -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="common-confirm-delete">
	<div class="am-modal-dialog am-radius">
		<div class="am-modal-bd">{{:L('common_delete_tips')}}</div>
		<div class="am-modal-footer">
			<span class="am-modal-btn" data-am-modal-cancel>{{:L('common_operation_cancel')}}</span>
			<span class="am-modal-btn" data-am-modal-confirm>{{:L('common_operation_confirm')}}</span>
		</div>
	</div>
</div>
<!-- commom delete html end -->
</body>
</html>

<!-- 类库 -->
<js href="__PUBLIC__/Common/Lib/jquery/jquery-2.1.0.js" />
<js href="__PUBLIC__/Common/Lib/assets/js/amazeui.min.js" />
<js href="__PUBLIC__/Common/Lib/echarts/echarts.min.js" />

<!-- ueditor 编辑器 -->
<js href="__PUBLIC__/Common/Lib/ueditor/ueditor.config.js" />
<js href="__PUBLIC__/Common/Lib/ueditor/ueditor.all.js" />
<js href="__PUBLIC__/Common/Lib/ueditor/lang/zh-cn/zh-cn.js" />

<!-- 项目公共 -->
<js href="__PUBLIC__/Common/Js/Common.js" />

<!-- 控制器 -->
<if condition="!empty($module_js)">
	<js href="__PUBLIC__/{{$module_js}}" />
</if>