<div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
	<div class="am-offcanvas-bar admin-offcanvas-bar">
		<ul class="am-list admin-sidebar-list common-left-menu">
			<li>
				<a href="javascript:;" data-url="{{:U('Admin/Index/Init')}}" class="common-left-menu-active">首页</a>
			</li>
			<foreach name="left_menu" item="v">
				<if condition="empty($v['item'])">
					<li>
						<a href="javascript:;" data-url="{{:U('Admin/'.$v['control'].'/'.$v['action'])}}">{{$v.name}}</a>
					</li>
				<else />
					<li class="admin-parent">
						<a class="am-cf" data-am-collapse="{target: '#power-menu-{{$v.id}}'}">
							{{$v.name}}
							<!-- <i class="am-icon-angle-right am-fr am-margin-right"></i> -->
							<i class="am-icon-angle-down am-fr am-margin-right"></i>
						</a>
						<ul class="am-list am-collapse admin-sidebar-sub am-in" id="power-menu-{{$v.id}}">
							<foreach name="v.item" item="vs">
								<li>
									<a href="javascript:;" data-url="{{:U('Admin/'.$vs['control'].'/'.$vs['action'])}}">{{$vs.name}}</a>
								</li>
							</foreach>
						</ul>
					</li>
				</if>
			</foreach>
		</ul>
	</div>
</div>