<!-- header start -->
<include file="Public/Header" />
<!-- header end -->

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form form-validation view-save" action="{{:U('Admin/Teacher/Save')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Teacher/Index')}}">
			<legend>
				<span class="fs-16">
					<if condition="empty($data['id'])">
						{{:L('teacher_add_name')}}
					<else />
						{{:L('teacher_edit_name')}}
					</if>
				</span>
				<a href="{{:U('Admin/Teacher/Index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> {{:L('common_operation_back')}}</a>
			</legend>
			<div class="am-form-group">
				<label>{{:L('teacher_username_text')}}</label>
				<input type="text" name="username" placeholder="{{:L('teacher_username_text')}}" minlength="2" maxlength="16" data-validation-message="{{:L('teacher_username_format')}}" class="am-radius" <notempty name="data"> value="{{$data.username}}"</notempty> required />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_view_id_card_text')}}</label>
				<input type="text" name="id_card" placeholder="{{:L('common_view_id_card_text')}}" pattern="{{:L('common_regex_id_card')}}" data-validation-message="{{:L('common_view_id_card_format')}}" class="am-radius" <notempty name="data"> value="{{$data.id_card}}" disabled</notempty> required />
			</div>
			<include file="Lib/Gender" />
			<div class="am-form-group">
				<label>{{:L('teacher_birthday_text')}}</label>
				<input type="text" name="birthday" class="am-radius" placeholder="{{:L('teacher_birthday_text')}}" pattern="{{:L('common_regex_birthday')}}" data-validation-message="{{:L('teacher_birthday_format')}}" <notempty name="data"> value="{{$data.birthday}}" </notempty> data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}" readonly required />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_address_text')}}</label>
				<input type="text" placeholder="{{:L('common_address_text')}}" name="address" data-validation-message="{{:L('common_address_format')}}" class="am-radius" <notempty name="data"> value="{{$data.address}}"</notempty> />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_mobile_name')}}</label>
				<input type="text" placeholder="{{:L('common_mobile_name')}}" name="mobile" pattern="{{:L('common_regex_mobile')}}" data-validation-message="{{:L('common_mobile_format_error')}}" class="am-radius" <notempty name="data"> value="{{$data.mobile}}"</notempty> required />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_view_tel_name')}}</label>
				<input type="text" placeholder="{{:L('common_view_tel_name')}}" name="tel" pattern="{{:L('common_regex_tel')}}" data-validation-message="{{:L('common_view_tel_error')}}" class="am-radius" <notempty name="data"> value="{{$data.tel}}"</notempty> />
			</div>
			<div class="am-form-group">
				<label>{{:L('common_email_name')}}</label>
				<input type="text" placeholder="{{:L('common_email_name')}}" name="email" pattern="{{:L('common_regex_email')}}" data-validation-message="{{:L('common_email_format_error')}}" maxlength="60" class="am-radius" <notempty name="data"> value="{{$data.email}}"</notempty> />
			</div>
			<include file="Lib/TeacherState" />
			<div class="am-form-group">
				<label>{{:L('teacher_subject_text')}}</label>
				<div class="view-checkbox-list">
					<foreach name="subject_list" key="k" item="v">
						<label class="am-checkbox-inline <if condition="$k neq count($subject_list)-1">m-r-20</if>">
							<input type="checkbox" value="{{$v.id}}" name="subject_id" minchecked="1" data-validation-message="{{:L('teacher_subject_format')}}" <if condition="!empty($data['subject_id']) and in_array($v['id'], $data['subject_id'])">checked</if> data-am-ucheck required />{{$v.name}}
						</label>
					</foreach>
				</div>
			</div>
			<div class="am-form-group">
				<input type="hidden" name="id" <notempty name="data"> value="{{$data.id}}"</notempty>" />
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'{{:L('common_form_loading_tips')}}'}">{{:L('common_operation_save')}}</button>
			</div>
		</form>
        <!-- form end -->
	</div>
</div>
<!-- right content end  -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end