<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<div class="content-right">
		<div class="content">
            <!-- operation start -->
            <div class="am-g m-t-15">
	            <a href="{{:U('Admin/Admin/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:L('common_operation_add')}}</a>
	        </div>
	        <!-- operation end -->

			Power

			<!-- page start -->
			<if condition="!empty($list)">
				{{$page_html}}
			</if>
			<!-- page end -->
		</div>
	</div>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->