<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<div class="content-right">
		<div class="content">
            <!-- operation start -->
            <div class="am-g m-t-15">
	            <a href="{{:U('Admin/Admin/SaveInfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> {{:L('common_operation_add')}}</a>
	        </div>
	        <!-- operation end -->

			<ul class="tree-list p-0">
				<li>
					<i class="am-icon-minus-square c-p m-r-5"></i>
					<label class="c-p">
						<input type="checkbox" value="" class="node-choice" />
						<span>订单管理</span>
					</label>
					<ul class="list-find p-0">
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>商品管理</span>
							</label>
						</li>
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>规格管理</span>
							</label>
						</li>
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>仓库商品</span>
							</label>
						</li>
					</ul>
				</li>
				<li>
					<i class="am-icon-plus c-p m-r-5"></i>
					<label class="c-p">
						<input type="checkbox" value="" class="node-choice" />
						<span>优惠管理</span>
					</label>
					<ul class="list-find p-0 none">
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>商品管理</span>
							</label>
						</li>
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>规格管理</span>
							</label>
						</li>
						<li>
							<label class="c-p">
								<input type="checkbox" value="" />
								<span>仓库商品</span>
							</label>
						</li>
					</ul>
				</li>
			</ul>

			<!-- page start -->
			<if condition="!empty($list)">
				{{$page_html}}
			</if>
			<!-- page end -->
		</div>
	</div>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->