<!-- header start -->
<include file="Public/Header" />
<!-- header end -->
<!-- nav start -->
<include file="Public/Nav" />
<!-- nav end -->
		
<!-- content start -->
<div class="admin">
	<!-- left menu start -->
	<include file="Public/Menu" />
	<!-- left menu end -->

	<!-- right content start  -->
	<div class="content-right">
		<div class="content">
			<!-- menu nav start -->
			<!-- <include file="Lib/ControlNav" /> -->
			<!-- menu nav end -->

			<!-- form start -->
			<form class="am-form form-validation m-t-15" action="{{:U('Admin/Admin/Login')}}" method="POST" request-type="ajax-url" request-value="{{:U('Admin/Index/Index')}}">
				<div class="am-g">
					<select  class="am-input-sm am-radius">
						<option value="a">Apple</option>
						<option value="b" selected>Banana</option>
						<option value="o">Orange</option>
						<option value="m">Mango</option>
					</select>
					<input type="text" class="am-input-sm am-radius" placeholder="{{:L('login_username_text')}}" name="username" pattern="{{:L('common_regex_username')}}" data-validation-message="{{:L('login_username_format')}}" />
					<button type="submit" class="am-btn am-btn-secondary am-btn-xs am-radius">查询</button>
				</div>
            </form>
            <!-- form end -->

			<!-- list start -->
			<table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
				<thead>
					<tr>
						<th>管理员</th>
						<th>登录次数</th>
						<th class="am-hide-sm-only">最后登录时间</th>
						<th class="am-hide-sm-only">创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Amaze UI</td><td>4565</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '编辑', trigger: 'hover focus'}"></button>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash" data-am-popover="{content: '删除', trigger: 'hover focus'}"></button>
						</td>
					</tr>
					<tr>
						<td>Amaze UI</td><td>3443</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '编辑', trigger: 'hover focus'}"></button>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash" data-am-popover="{content: '删除', trigger: 'hover focus'}"></button>
						</td>
					</tr>
					<tr>
						<td>Amaze UI</td><td>325454</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '编辑', trigger: 'hover focus'}"></button>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash" data-am-popover="{content: '删除', trigger: 'hover focus'}"></button>
						</td>
					</tr>
					<tr>
						<td>Amaze UI</td><td>6546546546</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td class="am-hide-sm-only">2012-10-01</td>
						<td>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-edit" data-am-popover="{content: '编辑', trigger: 'hover focus'}"></button>
							<button class="am-btn am-btn-default am-btn-xs am-radius am-icon-trash" data-am-popover="{content: '删除', trigger: 'hover focus'}"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- list end -->

		</div>
	</div>
	<!-- right content end  -->
</div>
<!-- content end -->

<!-- navbar start -->
<include file="Public/NavBar" />
<!-- navbar end -->
		
<!-- footer start -->
<include file="Public/Footer" />
<!-- footer end -->