.am-list > li{margin-bottom: 0;border-width:1px 0 0 0;}
.list-top.amz-toolbar{position: fixed;right: 50px!important;bottom: 100px;}
.list-top.amz-toolbar .am-icon-btn{background-color: rgba(0,0,0,.4);color:#fff;}
.list-top.amz-toolbar .am-icon-btn:hover{background-color: rgba(0,0,0,.6);color:#fff;}
