/**
 * 公共
 */
.p-0 { padding: 0px !important; }
.p-20 { padding: 20px !important; }
.p-30 { padding: 30px !important; }
.p-l-0 { padding-left: 0px !important; }
.p-l-5 { padding-left: 5px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-25 { padding-left: 25px !important; }
.p-l-30 { padding-left: 30px !important; }
.p-r-0 { padding-right: 0px !important; }
.p-r-5 { padding-right: 5px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-25 { padding-right: 25px !important; }
.p-r-30 { padding-right: 30px !important; }
.p-r-0 { padding-right: 0px !important; }
.p-t-0 { padding-top: 0px !important; }
.p-b-0 { padding-bottom: 0px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-l-r-10 { padding-left: 10px; padding-right: 10px; }
.m-0 { margin: 0px !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 15px !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-0 { margin-top: 0px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-40 { margin-top: 40px !important; }
.m-b-0 { margin-bottom: 0px !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.b-b-solid { border-bottom: 1px solid #dedede; }
/**
 * 公共class
 */
* { font-size: 14px; }
.cr-eee { color: #eee; }
.cr-999 { color: #999; }
.none { display: none; }
.block { display: block; }

/**
 * 公共
 */
img, video, embed { max-width: 100%; }

/**
 * 导航
 */
header .am-topbar-right .am-topbar-btn { margin-top: 0.8rem; }
header .am-dropdown-content { border-radius: 2px; }
header.am-topbar { margin-bottom: 0rem; }
.nav-header, .am-footer, .site-oneself { margin: auto; }
.my-radius { border-radius: 2px !important; }
.nav-active { background-color: #0d82bd; }
.am-topbar-nav > li > a:after { display: none; }
.am-footer { font-size: 1.4rem; }
.footer-nav-list a:hover { color: #095f8a; }
.am-footer { padding: 0.5rem 20px 1em 20px; }
#home_site_logo { max-width: 180px; max-height: 38px; }

/**
 * 错误页面
 */
.my-error { margin: 20% 10% 0 10%; }

/**
 * 回顶部
 */
#my-go-top { position: fixed; right: 50px; bottom: 100px; }

/**
 * PC
 */
@media only screen and (min-width: 641px) {
	/**
	 * 用户导航
	 */
	.user-header-nav ul { margin-top: 1.4rem; }
}

/**
 * 手机
 */
@media only screen and (max-width: 641px) {
	/**
	 * 用户导航
	 */
	.user-header-nav { width: 100%; }

	/**
	 * 错误页面
	 */
	.my-error { margin-top: 35%; }
}
