/*.am-list-news-default { margin: 0px; }
.am-list-news-default .am-list-news-hd { padding-top: 0rem; }
.am-list-news-default .am-list .am-list-item-desced > a { height: 30px; word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.home-hot-list { overflow: hidden; }*/
/**
 * PC
 */
@media only screen and (min-width: 641px) {
/*	.home-hot-list { height: 435px; }
	.home-banner { width: 65%; float: left; }
	.home-hot-list { width: 34%; float: right;  }
	.home-banner, .home-banner li { height: 435px; overflow: hidden; }
	.home-banner li img { height: 100%; }
	.home-image-date-list .am-gallery-item img { height: 168px; }
	.home-image-list { margin: 1rem 0 0.5rem 0; }*/
}

/**
 * 手机
 */
@media only screen and (max-width: 641px) {
/*	.home-hot-list { margin-top: 2rem; }
	.home-image-list { margin-bottom: 1rem; }*/
}
