/**
 * 用户中心布局样式
 */
.user-menu {position:fixed;z-index:10;bottom:30px;right:20px;}
.user-sidebar {width:130px;min-height:100%;float:left;border-right:1px solid #cecece;}
.user-sidebar .am-active {z-index:1600;}
.user-sidebar .am-active a, .user-sidebar-list li a:hover {background:#eee;}
.user-sidebar-list li a {color:#5c5c5c;padding-left:10px;padding: 0.8rem;}
.user-sidebar-list li:first-child {border-top:none;}
.user-sidebar-sub {margin-top:0;margin-bottom:0;padding-left:24px;}
.user-sidebar-sub {border-top:1px solid #dedede;}
.user-content {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;background:#fff;}
.user-content-body {-webkit-box-flex:1;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;}
@media only screen and (min-width:641px) {
	.user-sidebar {display:block;position:static;background:none;margin-left:10px;}
	.user-offcanvas-bar {position:static;width:auto;background:none;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);overflow-y:hidden;}
	.user-offcanvas-bar:after {content:none;}
}
@media only screen and (max-width:640px) {
	.user-sidebar {width:inherit;}
	.user-offcanvas-bar {background:#f3f3f3;}
	.user-offcanvas-bar:after {background:#BABABA;}
	.user-sidebar-list a:hover,.user-sidebar-list a:active {-webkit-transition:background-color .3s ease;-moz-transition:background-color .3s ease;-ms-transition:background-color .3s ease;-o-transition:background-color .3s ease;transition:background-color .3s ease;background:#E4E4E4;}
}

/**
 * 业务样式
 */

/**
 * PC
 */
@media only screen and (min-width: 641px) {
	#verify-img-value { float: left; width: 50%; margin-right: 5px; }
}

/**
 * 手机
 */
@media only screen and (max-width: 641px) {
	#verify-img-value { margin-bottom: 10px; }
}