/**
 * PC
 */
@media only screen and (min-width: 641px) {
	.article-right { padding-left: 10px; padding-right: 0px; }
}

/**
 * 手机
 */
@media only screen and (max-width: 641px) {
	.article-right { padding: 0px; }
	.article-main { margin: 0px 20px 10px 10px; }
}